# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.conversion.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Dejik Concepts\RiderProjects\conversion\.idea\.idea.conversion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
