# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TestEFCore.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\Test\TestEFCore\.idea\.idea.TestEFCore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
