@model Student 

<div>
    
    <form action="Create" method="post">
        <div>
            <label>Id:</label>
            <input type = "number" name="Id" placeholder="e.g 1"/>
        </div>
        <div>
            <label>Student Name:</label>
            <input type = "text" name="Name" placeholder="e.g Ayodeji"/>
        </div>
        <div>
            <label>Student Class:</label>
            <input type = "text" name="Class" placeholder="e.g 100L"/>
        </div>
        <div>
            <label>Student Age:</label>
            <input type = "number" name="Age" placeholder="e.g 20"/>
        </div>
         <div>
             <button type="submit">Register</button>
             
                </div>

    </form>
</div>
