# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.StudentApp.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\Test\StudentApp\.idea\.idea.StudentApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
