# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Animal.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\AssignmentNov2421\Animal\.idea\.idea.Animal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
