# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Score.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dejik Concepts\Desktop\Interfaces\Operator Overriden\Score\.idea\.idea.Score\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
