# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GRADE.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Dejik Concepts\RiderProjects\GRADE\.idea\.idea.GRADE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
