# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.QUIZ.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\Test\QUIZ\.idea\.idea.QUIZ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
