# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AnimalInheritance.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\AnimalInheritance\.idea\.idea.AnimalInheritance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
