@{
    
    ViewData["Title"] = "Home Page";
}

<body  style="background-color:blanchedalmond">
<div class="text-center" style="background-color: darkred">
    
    <b style="color: aliceblue" class="display-4">Welcome To Dejik's Blog
        
        <body >
        <div  bgcolor="#8b4513" ><i><h5>(News, Entertainment, Sports, Career)...</h5></i></div>
            </body>
        
    </b>

    <p style="color: aliceblue">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div style="background-color:papayawhip">
    <div>
        <div style="text-shadow: snow">
        <img src="~/Image/blog3.jpg" alt="Image" height="200" width="300">
            <body style="animation: frames(10)">
            <img src="~/Image/news.jpg" alt="image" height="200" width="300">
            <img src="~/Image/blogging-blog-word-coder-coding-260nw-520314613.jpg" alt="image" height="200" width="300">
            <img src="~/Image/career.jpg" alt="image" height="200" width="300">
            <img src="~/Image/entertainment.jpg" alt="image" height="200" width="300">
            <img src="~/Image/messi-neymar-ronaldo.jpg" alt="image" height="200" width="300">
            
            </body>
        
        </div>
    </div>
</div>
</body>