# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Inventory.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dejik Concepts\Desktop\Test\Inventory\.idea\.idea.Inventory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
